### 將code,code_counts,category_unit_price連結 code_api

In [1]:
import pandas as pd

In [3]:
deal=pd.read_csv('deal_final_0605.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
code_counts=pd.read_csv('code_counts.csv')
print(code_counts.shape)
code_counts.head(3)

(295, 2)

   code  code_counts
0   536        33645
1   423        24417
2  1604        20423

In [16]:
code=pd.read_csv('code.csv')
code.head(3)

,code,code_mean_7days,code_max_7days,code_min_7days,code_median_7days,code_mean_14days,code_max_14days,code_min_14days,code_median_14days,code_mean_30days,...,code_min_30days,code_median_30days,code_mean_60days,code_max_60days,code_min_60days,code_median_60days,code_mean_180days,code_max_180days,code_min_180days,code_median_180days
0,166.0,4869.213015,1331900.0,49.0,1575.0,6393.935013,1331900.0,79.0,1799.0,7425.780744,...,69.0,1996.0,7866.970931,1797840.0,69.0,2090.0,8304.521975,2360820.0,69.0,2248.5
1,2082.0,3759.103107,218790.0,78.0,1550.0,5058.728673,458370.0,78.0,1848.5,6357.477840,...,78.0,2097.0,6727.229074,812790.0,78.0,2232.5,7280.483813,812790.0,78.0,2392.0
2,222.0,8070.488153,598401.0,79.0,2097.5,10245.327628,1129115.0,79.0,2472.0,12068.105808,...,79.0,2896.0,12864.913523,1592142.0,79.0,2990.0,13805.016282,1592142.0,79.0,3387.0

In [17]:
code[code.code==423]

,code,code_mean_7days,code_max_7days,code_min_7days,code_median_7days,code_mean_14days,code_max_14days,code_min_14days,code_median_14days,code_mean_30days,...,code_min_30days,code_median_30days,code_mean_60days,code_max_60days,code_min_60days,code_median_60days,code_mean_180days,code_max_180days,code_min_180days,code_median_180days
3,423.0,5169.034489,569828.0,26.0,2059.5,7008.302139,636400.0,26.0,2501.0,9191.436228,...,26.0,3060.0,10221.082071,1161800.0,26.0,3270.0,10845.385522,1511450.0,26.0,3459.0

In [18]:
code=pd.merge(code,code_counts,how='left')

In [19]:
len(code.code.unique())

457

In [20]:
parentcode=code.copy()
parentcode.columns=['parent_code', 'parent_code_mean_7days', 'parent_code_max_7days', 'parent_code_min_7days',
       'parent_code_median_7days', 'parent_code_mean_14days', 'parent_code_max_14days',
       'parent_code_min_14days', 'parent_code_median_14days', 'parent_code_mean_30days',
       'parent_code_max_30days', 'parent_code_min_30days', 'parent_code_median_30days',
       'parent_code_mean_60days', 'parent_code_max_60days', 'parent_code_min_60days',
       'parent_code_median_60days', 'parent_code_mean_180days', 'parent_code_max_180days',
       'parent_code_min_180days', 'parent_code_median_180days','parent_code_counts']
print(parentcode.shape)
parentcode.head(3)

(457, 22)

,parent_code,parent_code_mean_7days,parent_code_max_7days,parent_code_min_7days,parent_code_median_7days,parent_code_mean_14days,parent_code_max_14days,parent_code_min_14days,parent_code_median_14days,parent_code_mean_30days,...,parent_code_median_30days,parent_code_mean_60days,parent_code_max_60days,parent_code_min_60days,parent_code_median_60days,parent_code_mean_180days,parent_code_max_180days,parent_code_min_180days,parent_code_median_180days,parent_code_counts
0,166.0,4869.213015,1331900.0,49.0,1575.0,6393.935013,1331900.0,79.0,1799.0,7425.780744,...,1996.0,7866.970931,1797840.0,69.0,2090.0,8304.521975,2360820.0,69.0,2248.5,18283.0
1,2082.0,3759.103107,218790.0,78.0,1550.0,5058.728673,458370.0,78.0,1848.5,6357.477840,...,2097.0,6727.229074,812790.0,78.0,2232.5,7280.483813,812790.0,78.0,2392.0,12341.0
2,222.0,8070.488153,598401.0,79.0,2097.5,10245.327628,1129115.0,79.0,2472.0,12068.105808,...,2896.0,12864.913523,1592142.0,79.0,2990.0,13805.016282,1592142.0,79.0,3387.0,6205.0

In [21]:
parent=pd.read_csv('parent_code_map.csv')

In [22]:
parent.head(3)

   code  parent_code
0  3066          203
1  5598          203
2  5514          203

In [23]:
codemerge=pd.merge(code,parent,how='left')

In [24]:
len(codemerge.code.unique())

457

In [27]:
codemerge.code_counts=codemerge.code_counts.fillna(1)

In [28]:
codemerge.parent_code=codemerge.parent_code.fillna(codemerge.code)

In [30]:
len(codemerge.code.unique())

457

In [32]:
total=pd.merge(codemerge,parentcode)

In [33]:
beforeday=pd.read_csv('code_beforedays.csv')

In [34]:
beforeday=beforeday[beforeday.buying_date=='2019-04-29']

In [35]:
total.shape

(457, 44)

In [36]:
allbeforeday=pd.merge(beforeday,total)

In [37]:
codecat=pd.read_csv('codecat.csv')

In [38]:
codecat.head(3)

     code  category_unit_price
0  1604.0                319.0
1   536.0                299.0
2   922.0                315.0

In [ ]:
sns.barplot()

In [40]:
allbeforeday=pd.merge(allbeforeday,codecat)

In [44]:
allbeforeday.parent_code_counts=allbeforeday.parent_code_counts.fillna(1)

In [45]:
allbeforeday.to_csv('code_api.csv',index=False)