### 整理檔案 將order,deal 合併存成一個檔案

In [3]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 100
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [4]:
deal=pd.read_csv('deal_final_0605.csv',low_memory=False)

In [5]:
deal.head(3)

,business_hour_guid,seller_GUID,business_hour_order_time_s,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,pic_alt,zip_code,city_name,district_name,item_name,item_orig_price,item_price,item_default_daily_amount,event_name,event_title,product_spec,shopping_cart,combo_pack_count,quantity_multiplier,city_list,deal_acc_business_group_id,acc_business_group_name,deal_type,is_travel_deal,installment_3months,installment_6months,installment_12months,deny_installment,shippingdate,is_long_contract,develope_sales_id,operation_sales_id,slug,ordered_quantity,ordered_total,category_list,freight_amount,enable_isp,discount_price,is_wms,ancestor_business_hour_guid,code_name,code
0,﻿29B37E53-021C-48E9-909E-C6C151974AC7,EC5DDAD4-F8F8-418B-8AED-7BAC2553F2B6,2000-03-01 00:00:00.000,2000-03-01 01:00:00.000,2000-03-01 00:00:00.000,2000-03-01 00:00:59.000,柯絲妃兒/胎盤素/肌因賦活/身體精華乳,407,台中市,西屯區,柯絲妃兒胎盤素肌因賦活身體精華乳10入,8800.0,1490.0,20,。,NaN,NaN,0,1,10.0,[477|492],7,宅配,84.0,0,1,0,0,0,0.0,0,1113531340,1.113531e+09,NaN,0,0.0,[88|221|124|769|136|139],0.0,0,NaN,0,NaN,美體私密,5821.0
1,2C6E83A9-9785-4593-A759-07A78AB309BB,B6CC8A1E-37C8-44E5-B6E2-15123387AF95,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:59.000,aibo 領導者/ 立體聲/智慧藍牙/耳機麥克風系列,243,新北市,泰山區,aibo領導者-立體聲智慧藍牙耳機麥克風系列（2入方案）,1580.0,798.0,20,|型號：F1300I/HM3600/HM9100/Q2。,NaN,NaN,1,2,2.0,[477|492],7,宅配,35.0,0,1,1,1,0,0.0,0,1112804144,1.112804e+09,NaN,0,0.0,[88|221|117|2179|2180|100105|100106|136|139],0.0,0,NaN,0,NaN,網路設備/穿戴裝置/辦公設備,222.0
2,08EF8DAA-7A9F-4DF4-ADBC-244F285F7C59,B6CC8A1E-37C8-44E5-B6E2-15123387AF95,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:59.000,aibo 領導者/ 立體聲/智慧藍牙/耳機麥克風系列,243,新北市,泰山區,aibo領導者-立體聲智慧藍牙耳機麥克風系列（4入方案）,3160.0,1499.0,20,|型號：F1300I/HM3600/HM9100/Q2。,NaN,NaN,1,4,4.0,[477|492],7,宅配,35.0,0,1,1,1,0,0.0,0,1112804144,1.112804e+09,NaN,0,0.0,[88|221|117|2179|2180|100105|100106|136|139],0.0,0,NaN,0,NaN,網路設備/穿戴裝置/辦公設備,222.0

### 找出子分類與上一層分類id

In [6]:
google=pd.read_csv('google.csv')

In [7]:
google['list']=google[['level1','level2','level3','level4','level5','level6','level7']].apply(lambda x: x.tolist(), axis=1)
def delNaN(x):
    cleanedList = [i for i in x if str(i) != 'nan']
    return cleanedList
google['list']=google['list'].apply(delNaN)
google['parent_child']=google['list'].apply(lambda x: x[-2:])

In [8]:
##將文字分類轉為分類code
googlecate=google[['id','list']]
googlecate['chinesename']=googlecate['list'].apply(lambda x:x[-1])
googlecate=googlecate[['id','chinesename']]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
googlecate

          id  chinesename
0        469        保健與美容
1       2915         個人保養
2       6921         仿曬噴霧
3        528         刮鬍修容
4       2681          刮鬍刷
5       8531        刮鬍碗/杯
6       5111          刮鬍組
7       2971          刮鬍膏
8        534     手動刮鬍刀和刀片
9       2508          止血筆
10      6842     理髮/剪髮器配件
11      4507         除毛用品
12      8136        蜜蠟除毛機
13      4511   蜜蠟除毛用品/工具組
14      4508          除毛膏
15      7199       雷射除毛裝置
16      4510        電動除毛刀
17      4509       電燒除毛裝置
18       532        電動刮鬍刀
19       531      電動刮鬍刀配件
20       533        電動剪髮器
21      8214     體毛/汗毛漂白劑
22       529          鬚後水
23       473          化妝品
24      6331      化妝工具清潔液
25       477           彩妝
26      2645           唇彩
27      3021           口紅
28      2589          唇線筆
29      2858           唇蜜
...      ...          ...
5397    6337       按摩滾筒配件
5398    6338      按摩滾筒收納袋
5399    5319         按摩滾輪
5400    8066        搖擺震動機
5401  237166       有氧階梯踏板
5402  355576        牽引倒立機
5403     999      瑜珈和皮拉提斯
5404    3640     瑜珈/皮拉提斯墊
5405    6750    瑜珈/皮拉提斯用磚
5406    6743    瑜珈/皮拉提斯舖巾
5407    5107     瑜珈墊背包/背帶
5408    3810        皮拉提斯機
5409    5693           碼表
5410  499793           舉重
5411    6452     自由重量健身配件
5412    8083    自由重量訓練器材架
5413    3271          舉重桿
5414  499794        舉重桿鎖扣
5415    3164     自由重量訓練器材
5416    3858     舉重手套/助握帶
5417    3654         舉重腰帶
5418    3542        重量訓練機
5419    3217  重量訓練機/臥推椅配件
5420    4669        運動器材墊
5421  505302  運動安全燈具/反光配件
5422    3938          運動球
5423    8471      運動用斜坡軟墊
5424    6103         重訓服飾
5425    8062          阻力傘
5426     993          韻律球

[5427 rows x 2 columns]

In [10]:
def checkparent(x):
    if(len(x)==1):
        return x[0]
    
googleid=google[['id','parent_child']]
googleid['parentid']=googleid['parent_child'].apply(lambda x:x[0])
googleid.head(3)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     id   parent_child parentid
0   469        [保健與美容]    保健與美容
1  2915  [保健與美容, 個人保養]    保健與美容
2  6921   [個人保養, 仿曬噴霧]     個人保養

In [11]:
totalgoogle=pd.merge(googleid,googlecate,how='left',left_on='parentid',right_on='chinesename')
totalgoogle=totalgoogle[['id_x','id_y']]
totalgoogle=totalgoogle.rename(columns={'id_x':'code','id_y':'parent_code'})
totalgoogle.head()

   code  parent_code
0   469          469
1  2915          469
2  6921         2915
3   528         2915
4  2681          528

In [12]:
googlecate.columns=['code','chinese_code']
parent=googlecate
parent.columns=['parent_code','chinese_parent_code']

In [13]:
totalgoogle=pd.merge(totalgoogle,googlecate)
totalgoogle=pd.merge(totalgoogle,parent)

In [14]:
deal=pd.merge(deal,totalgoogle,how='left')

In [15]:
deal=deal[['business_hour_guid', 'business_hour_order_time_s','item_name',
       'business_hour_order_time_e', 'business_hour_deliver_time_s',
       'business_hour_deliver_time_e','item_orig_price', 'item_price',
       'quantity_multiplier','installment_3months', 'installment_6months', 'installment_12months',
       'shippingdate', 'enable_isp','ancestor_business_hour_guid','code']]
deal.head(3)

,business_hour_guid,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code
0,﻿29B37E53-021C-48E9-909E-C6C151974AC7,2000-03-01 00:00:00.000,柯絲妃兒胎盤素肌因賦活身體精華乳10入,2000-03-01 01:00:00.000,2000-03-01 00:00:00.000,2000-03-01 00:00:59.000,8800.0,1490.0,10.0,1,0,0,0.0,0,NaN,5821.0
1,2C6E83A9-9785-4593-A759-07A78AB309BB,2001-01-01 00:00:00.000,aibo領導者-立體聲智慧藍牙耳機麥克風系列（2入方案）,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:59.000,1580.0,798.0,2.0,1,1,1,0.0,0,NaN,222.0
2,08EF8DAA-7A9F-4DF4-ADBC-244F285F7C59,2001-01-01 00:00:00.000,aibo領導者-立體聲智慧藍牙耳機麥克風系列（4入方案）,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:59.000,3160.0,1499.0,4.0,1,1,1,0.0,0,NaN,222.0

In [16]:
deal=pd.merge(deal,totalgoogle,how='left')

In [17]:
deal.head(3)

,business_hour_guid,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code
0,﻿29B37E53-021C-48E9-909E-C6C151974AC7,2000-03-01 00:00:00.000,柯絲妃兒胎盤素肌因賦活身體精華乳10入,2000-03-01 01:00:00.000,2000-03-01 00:00:00.000,2000-03-01 00:00:59.000,8800.0,1490.0,10.0,1,0,0,0.0,0,NaN,5821.0,485.0,女性衛生用品
1,2C6E83A9-9785-4593-A759-07A78AB309BB,2001-01-01 00:00:00.000,aibo領導者-立體聲智慧藍牙耳機麥克風系列（2入方案）,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:59.000,1580.0,798.0,2.0,1,1,1,0.0,0,NaN,222.0,222.0,電子器材
2,08EF8DAA-7A9F-4DF4-ADBC-244F285F7C59,2001-01-01 00:00:00.000,aibo領導者-立體聲智慧藍牙耳機麥克風系列（4入方案）,2001-01-01 00:00:00.000,2001-01-01 00:00:00.000,2001-01-01 00:00:59.000,3160.0,1499.0,4.0,1,1,1,0.0,0,NaN,222.0,222.0,電子器材

### 與order合併

In [18]:
order_ori =pd.read_csv("order.csv")
order_ori.rename(columns={'(No column name)':'is_returned'}, inplace=True)
order_ori.head()

,GUID,seller_GUID,seller_name,subtotal,is_returned,create_time,business_hour_guid,order_from_type,user_id,installment,mobile_pay_type
0,7358E8A1-A918-42CD-A846-AAEF0A0E2B67,35443723-B460-4CF5-AFD2-DF1F29ECB305,17P商品-HONEYWELL空氣循環機,2.0,1,2010-06-01 18:06:41.987,02C55598-E1E7-40E1-996B-371EAE55F840,1,1111229516,0,NaN
1,A248B260-6366-4A2D-9A29-BF29A170A4AB,35443723-B460-4CF5-AFD2-DF1F29ECB305,17P商品-HONEYWELL空氣循環機,1350.0,0,2010-06-07 15:34:49.693,02C55598-E1E7-40E1-996B-371EAE55F840,1,1111229574,0,NaN
2,8433DD4F-368D-41EA-9D3B-56E5BAE76BC2,35443723-B460-4CF5-AFD2-DF1F29ECB305,17P商品-HONEYWELL空氣循環機,1350.0,0,2010-06-07 22:28:37.443,02C55598-E1E7-40E1-996B-371EAE55F840,1,1111193708,0,NaN
3,A85FC574-B5DA-43BE-88C8-326E1B90EE12,35443723-B460-4CF5-AFD2-DF1F29ECB305,17P商品-HONEYWELL空氣循環機,1350.0,0,2010-06-08 14:38:53.600,02C55598-E1E7-40E1-996B-371EAE55F840,1,1111250894,0,NaN
4,EB9E799B-EB28-4F9F-820F-FF54BBF9E81F,35443723-B460-4CF5-AFD2-DF1F29ECB305,17P商品-HONEYWELL空氣循環機,1350.0,0,2010-06-09 08:45:17.770,02C55598-E1E7-40E1-996B-371EAE55F840,1,1111386826,0,NaN

In [19]:
order_ori=order_ori[['business_hour_guid', 'GUID','subtotal','create_time','user_id']]

In [20]:
df=pd.merge(order_ori,deal,how='left',on=['business_hour_guid'])

In [21]:
df.shape

(4087786, 22)

### 將運送開始日期排序，找出有問題的欄位

In [22]:
df.business_hour_deliver_time_e.sort_values(ascending= False).head(5)

3079467    9999-12-31 00:00:00.000
3081700    9999-12-31 00:00:00.000
3474924    9999-05-18 00:00:59.000
3890415    2238-06-27 23:59:00.000
3933722    2238-06-27 23:59:00.000
Name: business_hour_deliver_time_e, dtype: object

* 因為檔次時間有問題的欄位(9999-...)不多，故直接刪除

In [23]:
df=df.drop(index=[3079467,3081700,3474924])

In [24]:
for i in ['create_time','business_hour_order_time_s','business_hour_order_time_e','business_hour_deliver_time_s','business_hour_deliver_time_e']:
    df[i]=pd.to_datetime(df[i])
    #df[i]=df[i].apply(lambda x: x.date())

In [25]:
df=df.reset_index(drop=True)
df.head(3)

,business_hour_guid,GUID,subtotal,create_time,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code
0,02C55598-E1E7-40E1-996B-371EAE55F840,7358E8A1-A918-42CD-A846-AAEF0A0E2B67,2.0,2010-06-01 18:06:41.987,1111229516,2010-06-07 12:00:00,只要1350元(含運費)！即可購得原價2690元進口HONEYWELL空氣循環扇HT-380...,2010-06-16 12:00:00,2010-06-16,2010-12-31,2690.0,1350.0,NaN,0,0,0,0.0,0,NaN,NaN,NaN,NaN
1,02C55598-E1E7-40E1-996B-371EAE55F840,A248B260-6366-4A2D-9A29-BF29A170A4AB,1350.0,2010-06-07 15:34:49.693,1111229574,2010-06-07 12:00:00,只要1350元(含運費)！即可購得原價2690元進口HONEYWELL空氣循環扇HT-380...,2010-06-16 12:00:00,2010-06-16,2010-12-31,2690.0,1350.0,NaN,0,0,0,0.0,0,NaN,NaN,NaN,NaN
2,02C55598-E1E7-40E1-996B-371EAE55F840,8433DD4F-368D-41EA-9D3B-56E5BAE76BC2,1350.0,2010-06-07 22:28:37.443,1111193708,2010-06-07 12:00:00,只要1350元(含運費)！即可購得原價2690元進口HONEYWELL空氣循環扇HT-380...,2010-06-16 12:00:00,2010-06-16,2010-12-31,2690.0,1350.0,NaN,0,0,0,0.0,0,NaN,NaN,NaN,NaN

### 將欄位轉換格式為datetime

In [26]:
import datetime
for i in ['business_hour_order_time_s','create_time','business_hour_order_time_e','business_hour_deliver_time_s','business_hour_deliver_time_e']:
        df[i]=pd.to_datetime(df[i])

### 取出檔期開始之月份 時間點 星期幾 檔次長度 訂購與開始運送之天數差(用來計算是否有預購情況)

In [29]:
df['product_launch_month']=df['business_hour_order_time_s'].apply(lambda x:x.month)
df['product_launch_hour']=df['business_hour_order_time_s'].apply(lambda x:x.hour)
df['product_launch_weekday']=df['business_hour_order_time_s'].apply(lambda x:x.weekday())
df['campagin_period']=(df['business_hour_order_time_e']-df['business_hour_order_time_s']).apply(lambda x:x.days)
df['order_deliver_days']=(df['business_hour_deliver_time_s']-df['business_hour_order_time_s']).apply(lambda x : x.days )
def trans(x):
    if x>=10:
        return 1
    elif x<10:
        return 0
    else:
        return 0

df["presales"]=df['order_deliver_days'].apply(trans)
df['product_launch_year']=df['business_hour_order_time_s'].apply(lambda x:x.year)

In [30]:
df["buying_hour"]=df["create_time"].apply(lambda x:x.time())

In [31]:
df=df.rename(columns={'create_time':'buying_date'})

In [32]:
df.head(3)

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour
0,02C55598-E1E7-40E1-996B-371EAE55F840,7358E8A1-A918-42CD-A846-AAEF0A0E2B67,2.0,2010-06-01 18:06:41.987,1111229516,2010-06-07 12:00:00,只要1350元(含運費)！即可購得原價2690元進口HONEYWELL空氣循環扇HT-380...,2010-06-16 12:00:00,2010-06-16,2010-12-31,2690.0,1350.0,NaN,0,0,0,0.0,0,NaN,NaN,NaN,NaN,6,12,0,9,8,0,2010,18:06:41.987000
1,02C55598-E1E7-40E1-996B-371EAE55F840,A248B260-6366-4A2D-9A29-BF29A170A4AB,1350.0,2010-06-07 15:34:49.693,1111229574,2010-06-07 12:00:00,只要1350元(含運費)！即可購得原價2690元進口HONEYWELL空氣循環扇HT-380...,2010-06-16 12:00:00,2010-06-16,2010-12-31,2690.0,1350.0,NaN,0,0,0,0.0,0,NaN,NaN,NaN,NaN,6,12,0,9,8,0,2010,15:34:49.693000
2,02C55598-E1E7-40E1-996B-371EAE55F840,8433DD4F-368D-41EA-9D3B-56E5BAE76BC2,1350.0,2010-06-07 22:28:37.443,1111193708,2010-06-07 12:00:00,只要1350元(含運費)！即可購得原價2690元進口HONEYWELL空氣循環扇HT-380...,2010-06-16 12:00:00,2010-06-16,2010-12-31,2690.0,1350.0,NaN,0,0,0,0.0,0,NaN,NaN,NaN,NaN,6,12,0,9,8,0,2010,22:28:37.443000

In [33]:
for i in ['buying_date','business_hour_order_time_s','business_hour_order_time_e','business_hour_deliver_time_s','business_hour_deliver_time_e']:
    df[i]=df[i].apply(lambda x: x.date())

In [34]:
##order_deliver_days將值為-1轉為0
df.order_deliver_days=df.order_deliver_days.replace(-1,0)

##  挑選 2014~2019間的交易紀錄，約有2,120,253筆交易紀錄

In [35]:
df=df[df.product_launch_year>=2014]
df.shape

(2732276, 30)

## 備份 df

In [36]:
new_df=df

### 修改資料異常值

In [37]:
df.loc[df.GUID=='5D260475-0B34-406B-8EA5-C524CB8E3FDD','quantity_multiplier']=180
df[df.GUID=='5D260475-0B34-406B-8EA5-C524CB8E3FDD']

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour
4048183,F5B46C83-9214-404B-AD47-473E744B6B82,5D260475-0B34-406B-8EA5-C524CB8E3FDD,5220.0,2019-02-16,1115037072,2019-01-31,超完美黃金比例防彈咖啡X180包 1組,2019-03-26,2019-01-31,2019-04-10,7650.0,5220.0,180.0,1,1,1,NaN,0,NaN,1868.0,413.0,飲料,1,0,3,54,0,0,2019,12:15:54.333000

In [38]:
df.loc[df.GUID=='44363241-44C3-45C5-88FD-783843083A9D','quantity_multiplier']=48
df[df.GUID=='44363241-44C3-45C5-88FD-783843083A9D']

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour
4043503,4B9FEA30-6B13-4A59-85EB-734BEE8A4DD3,44363241-44C3-45C5-88FD-783843083A9D,1225.0,2019-02-07,1113079961,2019-01-29,【3M】細滑牙線棒散裝促銷包(附贈隨身盒)(4包/組)X12PK/箱 1箱/組,2019-12-31,2019-01-29,2020-01-01,1990.0,1225.0,48.0,1,1,1,NaN,0,NaN,513.0,503724.0,保護面罩,1,0,1,336,0,0,2019,06:15:22.143000

In [39]:
#刪除關於樂捐的index

df=df[df.business_hour_guid!='90349F2B-3120-4616-A4AB-518EC8F277D3']
df=df.reset_index(drop=True)

In [40]:
df.shape

(2732227, 30)

### 找出商品檔次繼承關係
* 刪除重複檔次ID

In [41]:
guid=df[['business_hour_guid','ancestor_business_hour_guid']].drop_duplicates(['business_hour_guid']).reset_index(drop=True)
guid.head(3)

                     business_hour_guid ancestor_business_hour_guid
0  B4D2911E-524B-4483-8DE1-9BC0240B8FA2                         NaN
1  D424E96C-75E9-499A-BA43-DF8D99C5C622                         NaN
2  4E444122-2FC9-4CE1-A839-FA3384A501DD                         NaN

## 建立查詢table

In [42]:
##將兩欄位位置對調，更名(改名為檔次1,2...)
bhgnoNaN=guid[guid.ancestor_business_hour_guid.isnull()==False]
dictionary=bhgnoNaN[["ancestor_business_hour_guid","business_hour_guid"]]
dictionary=dictionary.rename(columns={'ancestor_business_hour_guid':'business_hour_guid','business_hour_guid':'business_hour_guid_1'})
dictionary.head(3)

                      business_hour_guid                  business_hour_guid_1
45  40566AEA-EEA8-4768-8467-74F8CDDD1726  5B24AE94-6606-4CE5-A829-95EE20068C5D
47  A7D5B426-E023-467D-BEE3-EA1E6CAB219D  3B709B87-D683-413C-8596-353A376309E5
68  B98EC7CA-FAEF-4E30-96E0-8E2F3B132935  3216607B-AB32-4B54-8870-FFCCE1178746

* 先找出檔次ID與前次檔次ID，將已無前檔次ID的檔次作為開頭表格(ancestor_business_hour_guid.isnull()==True)

In [43]:
bhgwithNaN=guid[guid.ancestor_business_hour_guid.isnull()==True]
bhgwithNaN=bhgwithNaN[['business_hour_guid']]
tmp=pd.merge(bhgwithNaN,dictionary,how="left")
tmp.head(3)

                     business_hour_guid business_hour_guid_1
0  B4D2911E-524B-4483-8DE1-9BC0240B8FA2                  NaN
1  D424E96C-75E9-499A-BA43-DF8D99C5C622                  NaN
2  4E444122-2FC9-4CE1-A839-FA3384A501DD                  NaN

In [44]:
##沒有前次檔期的商品後面就會顯示NaN,商品最多有17個檔期
i=1
while True:
    dictcol1='business_hour_guid_'+str(i)
    dictcol2='business_hour_guid_'+str(i+1)
    dictionary.columns=[dictcol1,dictcol2]
    tmp=pd.merge(tmp,dictionary,how="left")
    print(tmp[tmp[dictcol2].isnull()==False].shape)
    if(tmp[dictcol2].isnull().all()==True):
        break
    else:
        i=i+1

(819, 3)
(557, 4)
(388, 5)
(268, 6)
(182, 7)
(132, 8)
(105, 9)
(92, 10)
(73, 11)
(47, 12)
(32, 13)
(23, 14)
(17, 15)
(10, 16)
(6, 17)
(3, 18)
(3, 19)
(3, 20)
(3, 21)
(2, 22)
(2, 23)
(3, 24)
(2, 25)
(0, 26)

In [45]:
tmp['list']=tmp.apply(lambda x: x.tolist(), axis=1)
tmp.head(3)

,business_hour_guid,business_hour_guid_1,business_hour_guid_2,business_hour_guid_3,business_hour_guid_4,business_hour_guid_5,business_hour_guid_6,business_hour_guid_7,business_hour_guid_8,business_hour_guid_9,business_hour_guid_10,business_hour_guid_11,business_hour_guid_12,business_hour_guid_13,business_hour_guid_14,business_hour_guid_15,business_hour_guid_16,business_hour_guid_17,business_hour_guid_18,business_hour_guid_19,business_hour_guid_20,business_hour_guid_21,business_hour_guid_22,business_hour_guid_23,business_hour_guid_24,business_hour_guid_25,list
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[B4D2911E-524B-4483-8DE1-9BC0240B8FA2, nan, na..."
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[D424E96C-75E9-499A-BA43-DF8D99C5C622, nan, na..."
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[4E444122-2FC9-4CE1-A839-FA3384A501DD, nan, na..."

### List中 去除空值

In [46]:
def delNaN(x):
    cleanedList = [i for i in x if str(i) != 'nan']
    return cleanedList
tmp['list']=tmp['list'].apply(delNaN)

In [47]:
##找到現在檔次欄位
tmp['present_guid']=tmp['list'].apply(lambda x:x[-1])
tmp.head(3)

,business_hour_guid,business_hour_guid_1,business_hour_guid_2,business_hour_guid_3,business_hour_guid_4,business_hour_guid_5,business_hour_guid_6,business_hour_guid_7,business_hour_guid_8,business_hour_guid_9,business_hour_guid_10,business_hour_guid_11,business_hour_guid_12,business_hour_guid_13,business_hour_guid_14,business_hour_guid_15,business_hour_guid_16,business_hour_guid_17,business_hour_guid_18,business_hour_guid_19,business_hour_guid_20,business_hour_guid_21,business_hour_guid_22,business_hour_guid_23,business_hour_guid_24,business_hour_guid_25,list,present_guid
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],B4D2911E-524B-4483-8DE1-9BC0240B8FA2
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[D424E96C-75E9-499A-BA43-DF8D99C5C622],D424E96C-75E9-499A-BA43-DF8D99C5C622
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[4E444122-2FC9-4CE1-A839-FA3384A501DD],4E444122-2FC9-4CE1-A839-FA3384A501DD

In [48]:
tmp[tmp.business_hour_guid_2.isnull()==False].shape

(1023, 28)

In [49]:
guidlist=tmp[["present_guid","list"]]

### 合併guidlist與order

In [50]:
guidlist['list_len']=guidlist.list.apply(lambda x: len(x))
guidlist.head(3)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,present_guid,list,list_len
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1

In [51]:
guidlist.columns=['business_hour_guid','list','list_len']
guidlist.head(3)

,business_hour_guid,list,list_len
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1

In [52]:
df=pd.merge(df,guidlist,how="left")

In [53]:
#有些NaN值 直接以該檔期填充
df.list.fillna(df.business_hour_guid, inplace=True)

In [54]:
df.head(3)

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour,list,list_len
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,C5D8A3B3-1464-484F-BE7E-5C70861FB363,639.0,2014-01-01,1111260267,2014-01-01,秋冬系列外套-氣質雙排扣風衣造型外套,2014-01-08,2014-01-03,2014-01-24,3900.0,639.0,NaN,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,1,0,2014,12:19:40.210000,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1.0
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,16A45FF3-6EFD-4B82-A0CF-0F97AE09F8B2,299.0,2014-01-01,1112193722,2014-01-01,Marking-鋁合金解凍盤1入方案,2014-01-13,2014-01-08,2014-01-17,590.0,299.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,6,0,2014,12:24:27.823000,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1.0
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,0BCC82F9-0CA0-4E70-8131-AF7641890A57,1599.0,2014-01-01,1112518272,2014-01-01,衣童趣-造型加厚鋪棉連身衣4件方案,2014-01-08,2014-01-08,2014-01-17,2760.0,1599.0,4.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,6,0,2014,12:38:26.860000,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1.0

In [55]:
df['list_len']=df['list'].apply(lambda x: len(x))

In [56]:
df.columns

Index(['business_hour_guid', 'GUID', 'subtotal', 'buying_date', 'user_id',
       'business_hour_order_time_s', 'item_name', 'business_hour_order_time_e',
       'business_hour_deliver_time_s', 'business_hour_deliver_time_e',
       'item_orig_price', 'item_price', 'quantity_multiplier',
       'installment_3months', 'installment_6months', 'installment_12months',
       'shippingdate', 'enable_isp', 'ancestor_business_hour_guid', 'code',
       'parent_code', 'chinese_parent_code', 'product_launch_month',
       'product_launch_hour', 'product_launch_weekday', 'campagin_period',
       'order_deliver_days', 'presales', 'product_launch_year', 'buying_hour',
       'list', 'list_len'],
      dtype='object')

In [57]:
order_df=df[['business_hour_guid','GUID',
       'buying_date', 'buying_hour', 'business_hour_order_time_s','business_hour_order_time_e','subtotal',   
       'item_orig_price', 'item_price','quantity_multiplier', 'code']]

In [ ]:
order_df.to_csv('0614order_df.csv',index=False)

### 單位價格（單一檔期)

In [58]:
#發現“包裝份數”有nan值
df['quantity_multiplier'].head(5)

0    NaN
1    1.0
2    4.0
3    NaN
4    3.0
Name: quantity_multiplier, dtype: float64

In [59]:
#nan值用1取代
def trans(x):
    if x>0: 
        return x
    else:
        return 1
df['quantity_multiplier']=df['quantity_multiplier'].apply(trans)

In [60]:
df['unit_price']=df['item_price']/df['quantity_multiplier']
df.head(3)

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour,list,list_len,unit_price
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,C5D8A3B3-1464-484F-BE7E-5C70861FB363,639.0,2014-01-01,1111260267,2014-01-01,秋冬系列外套-氣質雙排扣風衣造型外套,2014-01-08,2014-01-03,2014-01-24,3900.0,639.0,1.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,1,0,2014,12:19:40.210000,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1,639.00
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,16A45FF3-6EFD-4B82-A0CF-0F97AE09F8B2,299.0,2014-01-01,1112193722,2014-01-01,Marking-鋁合金解凍盤1入方案,2014-01-13,2014-01-08,2014-01-17,590.0,299.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,6,0,2014,12:24:27.823000,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1,299.00
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,0BCC82F9-0CA0-4E70-8131-AF7641890A57,1599.0,2014-01-01,1112518272,2014-01-01,衣童趣-造型加厚鋪棉連身衣4件方案,2014-01-08,2014-01-08,2014-01-17,2760.0,1599.0,4.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,6,0,2014,12:38:26.860000,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1,399.75

## 將檔期超過30天的商品設為長檔期商品

In [61]:
def checklongtern(x):
    if x>=30:
        return 1
    else:
        return 0


df["longTern"]=df['campagin_period'].apply(checklongtern)

### 與同類商品的單位價格中位數比較

In [62]:
#找出每個分類的價格中位數
category_median=df.groupby("code")["unit_price"].median().to_frame().reset_index()
category_median.columns=['code','category_unit_price']
#與df合併
df=pd.merge(df,category_median,how='left')
##建立欄位"與該品類中位數之百分比"
df['compare_cate_unit_price']=(df['unit_price']/df['category_unit_price']).round(3)
df.head()

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour,list,list_len,unit_price,longTern,category_unit_price,compare_cate_unit_price
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,C5D8A3B3-1464-484F-BE7E-5C70861FB363,639.0,2014-01-01,1111260267,2014-01-01,秋冬系列外套-氣質雙排扣風衣造型外套,2014-01-08,2014-01-03,2014-01-24,3900.0,639.0,1.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,1,0,2014,12:19:40.210000,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1,639.000000,0,319.0,2.003
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,16A45FF3-6EFD-4B82-A0CF-0F97AE09F8B2,299.0,2014-01-01,1112193722,2014-01-01,Marking-鋁合金解凍盤1入方案,2014-01-13,2014-01-08,2014-01-17,590.0,299.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,6,0,2014,12:24:27.823000,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1,299.000000,0,299.0,1.000
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,0BCC82F9-0CA0-4E70-8131-AF7641890A57,1599.0,2014-01-01,1112518272,2014-01-01,衣童趣-造型加厚鋪棉連身衣4件方案,2014-01-08,2014-01-08,2014-01-17,2760.0,1599.0,4.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,6,0,2014,12:38:26.860000,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1,399.750000,0,319.0,1.253
3,C88F06E4-5F1E-4DE1-9A43-BBA1E374B5CC,1CC2DF22-F64C-4BB4-82E7-C79DEC2CDDBB,279.0,2014-01-01,1111906266,2014-01-01,Zebra斑馬-彩色雙層隔熱兒童碗任選2入方案,2014-01-13,2014-01-06,2014-01-17,518.0,279.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,4,0,2014,12:51:32.397000,[C88F06E4-5F1E-4DE1-9A43-BBA1E374B5CC],1,279.000000,0,299.0,0.933
4,AD3602F4-7605-47D2-812A-ABA0BEE34FD7,4C27FD8A-9644-44C0-A945-F0D75FDB4B29,575.0,2014-01-01,1112378892,2014-01-01,Kidschool-迪士尼熱門卡通英文有聲書3入組,2014-01-08,2014-01-07,2014-01-22,735.0,575.0,3.0,0,0,0,0.0,0,NaN,922.0,922.0,辦公室用品,1,12,2,7,5,0,2014,13:12:20.433000,[AD3602F4-7605-47D2-812A-ABA0BEE34FD7],1,191.666667,0,315.0,0.608

In [63]:
##備份一下
df_backup=df

### 計算全檔期平均價格與總銷量

In [64]:
temp=df

In [64]:
temp['subtotal_allguid']=0
temp['quantity_sold_allguid']=0
temp['avg_unit_price']=temp['unit_price']
temp.head(3)

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour,list,list_len,unit_price,longTern,category_unit_price,compare_cate_unit_price,subtotal_allguid,quantity_sold_allguid,avg_unit_price
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,C5D8A3B3-1464-484F-BE7E-5C70861FB363,639.0,2014-01-01,1111260267,2014-01-01,秋冬系列外套-氣質雙排扣風衣造型外套,2014-01-08,2014-01-03,2014-01-24,3900.0,639.0,1.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,1,0,2014,12:19:40.210000,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1,639.00,0,319.0,2.003,0,0,639.00
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,16A45FF3-6EFD-4B82-A0CF-0F97AE09F8B2,299.0,2014-01-01,1112193722,2014-01-01,Marking-鋁合金解凍盤1入方案,2014-01-13,2014-01-08,2014-01-17,590.0,299.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,6,0,2014,12:24:27.823000,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1,299.00,0,299.0,1.000,0,0,299.00
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,0BCC82F9-0CA0-4E70-8131-AF7641890A57,1599.0,2014-01-01,1112518272,2014-01-01,衣童趣-造型加厚鋪棉連身衣4件方案,2014-01-08,2014-01-08,2014-01-17,2760.0,1599.0,4.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,6,0,2014,12:38:26.860000,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1,399.75,0,319.0,1.253,0,0,399.75

### 利用迴圈找出全檔期總消費額、銷售量、平均單位價格

In [65]:
temp['len_list']=temp['list'].apply(lambda x: len(x))

In [66]:
temp=temp.drop_duplicates(subset='business_hour_guid').reset_index(drop=True)

In [67]:
%%time
for i in range(len(temp)):
    lis=temp.loc[i,'len_list']
    dd=temp.loc[i,'list']
    if (36>lis>1):
        allsubtotal=0
        allguid=0
        avgunitprice=0
        for k in dd:
            allsubtotal=allsubtotal+temp.loc[temp.business_hour_guid==k,'guid_subtotal'].values[0]
            allguid=allguid+temp.loc[temp.business_hour_guid==k,'quantity_sold_guid'].values[0]
            avgunitprice=avgunitprice+temp.loc[temp.business_hour_guid==k,'unit_price'].values[0]
        avgunitprice=avgunitprice/len(dd)
        temp.loc[i,'subtotal_allguid']=allsubtotal
        temp.loc[i,'quantity_sold_allguid']=allguid
        temp.loc[i,'avg_unit_price']=avgunitprice

KeyError: 'guid_subtotal'

In [68]:
temp['price_gap']=(temp['item_orig_price']/temp['quantity_multiplier'])-temp['unit_price']
temp.head()

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,buying_hour,list,list_len,unit_price,longTern,category_unit_price,compare_cate_unit_price,subtotal_allguid,quantity_sold_allguid,avg_unit_price,len_list,price_gap
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,C5D8A3B3-1464-484F-BE7E-5C70861FB363,639.0,2014-01-01,1111260267,2014-01-01,秋冬系列外套-氣質雙排扣風衣造型外套,2014-01-08,2014-01-03,2014-01-24,3900.0,639.0,1.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,1,0,2014,12:19:40.210000,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1,639.000000,0,319.0,2.003,0,0,639.000000,1,3261.000000
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,16A45FF3-6EFD-4B82-A0CF-0F97AE09F8B2,299.0,2014-01-01,1112193722,2014-01-01,Marking-鋁合金解凍盤1入方案,2014-01-13,2014-01-08,2014-01-17,590.0,299.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,6,0,2014,12:24:27.823000,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1,299.000000,0,299.0,1.000,0,0,299.000000,1,291.000000
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,0BCC82F9-0CA0-4E70-8131-AF7641890A57,1599.0,2014-01-01,1112518272,2014-01-01,衣童趣-造型加厚鋪棉連身衣4件方案,2014-01-08,2014-01-08,2014-01-17,2760.0,1599.0,4.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,6,0,2014,12:38:26.860000,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1,399.750000,0,319.0,1.253,0,0,399.750000,1,290.250000
3,C88F06E4-5F1E-4DE1-9A43-BBA1E374B5CC,1CC2DF22-F64C-4BB4-82E7-C79DEC2CDDBB,279.0,2014-01-01,1111906266,2014-01-01,Zebra斑馬-彩色雙層隔熱兒童碗任選2入方案,2014-01-13,2014-01-06,2014-01-17,518.0,279.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,4,0,2014,12:51:32.397000,[C88F06E4-5F1E-4DE1-9A43-BBA1E374B5CC],1,279.000000,0,299.0,0.933,0,0,279.000000,1,239.000000
4,AD3602F4-7605-47D2-812A-ABA0BEE34FD7,4C27FD8A-9644-44C0-A945-F0D75FDB4B29,575.0,2014-01-01,1112378892,2014-01-01,Kidschool-迪士尼熱門卡通英文有聲書3入組,2014-01-08,2014-01-07,2014-01-22,735.0,575.0,3.0,0,0,0,0.0,0,NaN,922.0,922.0,辦公室用品,1,12,2,7,5,0,2014,13:12:20.433000,[AD3602F4-7605-47D2-812A-ABA0BEE34FD7],1,191.666667,0,315.0,0.608,0,0,191.666667,1,53.333333

In [69]:
temp=temp[temp.code.isna()==False]

In [70]:
temp.to_csv('0618temp.csv',index=False)

# 0615 1020 從這裡開始往下跑

In [61]:
temp=pd.read_csv('0614temp.csv')
temp.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GUID,seller_GUID,seller_name,subtotal,is_returned,create_time,business_hour_guid,order_from_type,user_id,installment,mobile_pay_type,business_hour_order_time_s,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,pic_alt,zip_code,city_name,district_name,item_name,item_orig_price,item_price,item_default_daily_amount,event_name,event_title,product_spec,shopping_cart,combo_pack_count,quantity_multiplier,city_list,deal_acc_business_group_id,acc_business_group_name,deal_type,is_travel_deal,installment_3months,installment_6months,installment_12months,deny_installment,shippingdate,is_long_contract,develope_sales_id,operation_sales_id,slug,ordered_quantity,ordered_total,category_list,freight_amount,enable_isp,discount_price,is_wms,ancestor_business_hour_guid,code_name,code,parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,presales,product_launch_year,list,unit_price,longTern,category_unit_price,compare_cate_unit_price,guid_subtotal,quantity_sold_guid,subtotal_allguid,quantity_sold_allguid,avg_unit_price,len_list,price_gap
0,45B303F5-2997-4A1E-9CED-D510CFF5B0F0,E4D88D44-A734-4A6B-9174-A862244D2D22,三協成事業有限公司,699.0,0,2015-01-01 12:12:44.947,732103DD-F831-4210-8449-6B1917AA37F5,1,1111761039,0,NaN,2015-01-01 12:00:00.000,2015-01-22 12:00:00.000,2015-01-01 00:00:00.000,2015-01-27 00:00:00.000,Max Tea/印尼/拉茶,249,新北市,八里區,Max Tea-Tarikk印尼拉茶90包方案,1350.0,699.0,20,宅配：只要699元(含運)即可購得【Max Tea】原價1350元Tarikk印尼拉茶90包...,世界公認好喝的奶茶之一！雅加達、峇里島必買伴手禮|口感溫順|好喝就像現泡|還有不可思議的奶泡喔！,NaN,0,1,90.0,[477|492],7,宅配,50.0,0,0,0,0,0,0.0,0,1112762571,1.112763e+09,43.0,43,30057.0,[],0.0,0,NaN,0,NaN,沖泡/飲品,413.0,412.0,1,12,3,21,0,0,2015,['732103DD-F831-4210-8449-6B1917AA37F5'],7.766667,0,145.0,0.054,30057.0,3870.0,0.0,0.0,7.766667,1,7.233333
1,F121067A-41C7-4894-BD82-33A54E589DB7,23F66516-1395-4FE5-825F-795C9D94DFAA,得力網通有限公司,594.0,0,2015-01-01 12:36:05.753,E4849B75-FC79-4B2E-AF00-DF82E59B2872,1,1112303774,0,NaN,2015-01-01 12:00:00.000,2015-01-14 12:00:00.000,2015-01-01 00:00:00.000,2015-01-23 00:00:00.000,暖暖包袋/生理褲,231,新北市,新店區,蕾絲親膚暖暖包袋生理褲（6件方案）,1794.0,594.0,20,宅配：只要594元(含運)即可帶走原價1794元蕾絲親膚暖暖包袋生理褲6件：神秘黑/自然膚/...,每個女人都要有|獨家設計可放暖暖包生理褲！前後三層防漏超透氣|肚子暖暖減少不適感|安心溫暖月月順。,NaN,1,6,6.0,[477],7,宅配,39.0,0,0,0,0,0,0.0,0,1112546348,1.112546e+09,17.0,17,10098.0,[],0.0,0,NaN,0,NaN,居家服/內睡衣著,166.0,166.0,1,12,3,13,0,0,2015,['E4849B75-FC79-4B2E-AF00-DF82E59B2872'],99.000000,0,359.0,0.276,10098.0,102.0,0.0,0.0,99.000000,1,200.000000
2,7CC0DB1C-786E-427E-AD29-C6EC6C860CCF,23F66516-1395-4FE5-825F-795C9D94DFAA,得力網通有限公司,469.0,1,2015-01-01 12:42:11.777,61B117B3-9E4C-4809-9992-0F89E740E5E9,3,1111750722,0,NaN,2015-01-01 12:00:00.000,2015-01-02 12:00:00.000,2015-01-01 00:00:00.000,2015-01-13 00:00:00.000,外套,231,新北市,新店區,連帽絲光棉雙面配色防潑水鋪棉保暖外套男女款,1800.0,469.0,20,宅配：只要469元(含運)即可帶回原價1800元連帽絲光棉雙面配色防潑水鋪棉保暖外套男女款1...,男女款必備雙面配色外套|防水防風面料|舒適透氣易排汗|修飾身材、鬆緊下擺更合身|給您最時尚S...,NaN,1,1,1.0,[477],7,宅配,22.0,0,0,0,0,0,0.0,0,1112546348,1.112546e+09,216.0,216,101304.0,[],0.0,0,NaN,0,NaN,流行女裝,1604.0,166.0,1,12,3,1,0,0,2015,61B117B3-9E4C-4809-9992-0F89E740E5E9,469.000000,0,319.0,1.470,101304.0,216.0,0.0,0.0,469.000000,36,1331.000000
3,9E6511C9-D809-4DE9-9398-18841420D8EE,98AD927F-6FAF-4C02-A595-F8C62C39B55E,政旺精品商行,599.0,0,2015-01-01 12:51:42.933,40E89933-05B0-4A05-8085-3E05F1BCA7DB,1,1111140083,0,NaN,2015-01-01 12:00:00.000,2015-01-14 12:00:00.000,2015-01-01 00:00:00.000,2015-01-23 00:00:00.000,寵物窩/溫暖,241,新北市,三重區,可愛四方包覆骰子屋（1個方案）,990.0,599.0,20,宅配：只要599元(含運)即可購得原價990元可愛四方包覆骰子屋1個|顏色：卡其/咖啡。,寒冷的天|毛小孩們也是需要保暖的！造型寵物窩系列|貓狗皆可使用|厚棉設計超保暖|給毛小孩溫暖...,NaN,1,1,1.0,[477],7,宅配,62.0,0,0,0,0,0,0.0,0,1111820232,1.111820e+09,6.0,6,3594.0,[],0.0,0,NaN,0,NaN,寵物用品,2.0,1.0,1,12,3,13,0,0,2015,['40E89933-05B0-4A05-8085-3E05F1BCA7DB'],599.000000,0,299.0,2.003,4193.0,7.0,0.0,0.0,599.000000,1,391.000000
4,277364AC-EE4E-4987-83C3-65C982A9F1A6,8297CDD7-A5D9-4F9B-9678-B077CAA8290F,壹零參直購樂資訊有限公司(Homey365),449.0,0,2015-01-01 13:00:12.467,4429EC48-7928-4DFA-8909-F238D63B4062,3,1112012070,0,NaN,2015-01-01 12:00:00.000,2015-01-22 12:00:00.000,2015-01-01 00:00:00.000,2015-01-27 00:00:00.000,內裡厚絨/保暖衣,434,台中市,龍井區,時尚內裡厚絨款保暖衣（2件方案）,1198.0,449.0,20,宅配：只要449元(含運)即可購得原價1198元時尚內裡厚絨款保暖衣2件|(A)男款/(B)...,NaN,NaN,1,2,2.0,[477|492],7,宅配,39.0,0,0,0,0,0,0.0,0,1112546348,1.112546e+09,49.0,49,22001.0,[],0.0,0,NaN,0,NaN,居家服/內睡衣著,166.0,166.0,1,12,3,21,0,0,2015,['4429EC48-7928-4DFA-8909-F238D63B4062'],224.500000,0,359.0,0.625,23797.0,106.0,0.0,0.0,224.500000,1,374.500000

### 優惠與否

In [71]:
discount= df[['business_hour_guid','user_id']]  #選取需要的欄位

In [72]:
discount_code = pd.read_csv("discount_code(371mb;4Mrows)_0522v1.csv")

In [73]:
discount_code = discount_code.rename(columns={'use_id': 'user_id'}) #修改欄位名稱
discount_code = discount_code.drop(columns=['order_guid','id','use_amount', 'order_amount','order_cost', 'send_date','cancel_time','owner']) #刪除多餘欄位
discount_code.head(3)

   campaign_id     user_id
0           51  1111686728
1           51  1111833247
2           51  1111686728

In [74]:
discount=pd.merge(discount,discount_code,how='left',on=['user_id'])
discount.head(3)

                     business_hour_guid     user_id  campaign_id
0  B4D2911E-524B-4483-8DE1-9BC0240B8FA2  1111260267          NaN
1  D424E96C-75E9-499A-BA43-DF8D99C5C622  1112193722       3303.0
2  D424E96C-75E9-499A-BA43-DF8D99C5C622  1112193722       3303.0

In [75]:
discount = discount.drop(columns=['user_id'])
discount = discount.fillna(0) #補空值

In [76]:
def trans(x):
    if x > 0:
        return 1
    else:
        return 0
discount["is_Discount"]=discount["campaign_id"].apply(trans)

In [77]:
##因為有些訂單並沒有使用優惠 discount，故在用guid合併所有欄位 is_Discount欄位顯示總共所有訂單使用優惠次數
discount=discount.groupby('business_hour_guid')['is_Discount'].sum().to_frame()
discount.head(3)

                                      is_Discount
business_hour_guid
00000793-A001-4C8C-9196-3E6971181246            0
00001911-C3DF-4143-BC25-8AA5FA1A9AF4            7
00001928-AE75-4AA9-8A47-4BDE96D08C2D           31

In [78]:
# 將其大於0者設為1 即有提供優惠
def trans(x):
    if x > 0:
        return 1
    else:
        return 0
discount["is_Discount"]=discount["is_Discount"].apply(trans)
discount.head()

                                      is_Discount
business_hour_guid
00000793-A001-4C8C-9196-3E6971181246            0
00001911-C3DF-4143-BC25-8AA5FA1A9AF4            1
00001928-AE75-4AA9-8A47-4BDE96D08C2D            1
00004599-A7B5-404C-AC84-8AA030B18D3E            1
0000E985-1260-4A96-8A1B-9E899FB0E340            1

In [79]:
discount=discount.reset_index()

In [80]:
byCategory=pd.merge(temp,discount,how='left')

In [81]:
byCategory = byCategory.rename(columns={'longTern': 'is_Longtern','presales':'is_Presales'}) #修改欄位名稱

In [82]:
byCategory.head(3)

,business_hour_guid,GUID,subtotal,buying_date,user_id,business_hour_order_time_s,item_name,business_hour_order_time_e,business_hour_deliver_time_s,business_hour_deliver_time_e,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,ancestor_business_hour_guid,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,campagin_period,order_deliver_days,is_Presales,product_launch_year,buying_hour,list,list_len,unit_price,is_Longtern,category_unit_price,compare_cate_unit_price,subtotal_allguid,quantity_sold_allguid,avg_unit_price,len_list,price_gap,is_Discount
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,C5D8A3B3-1464-484F-BE7E-5C70861FB363,639.0,2014-01-01,1111260267,2014-01-01,秋冬系列外套-氣質雙排扣風衣造型外套,2014-01-08,2014-01-03,2014-01-24,3900.0,639.0,1.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,1,0,2014,12:19:40.210000,[B4D2911E-524B-4483-8DE1-9BC0240B8FA2],1,639.00,0,319.0,2.003,0,0,639.00,1,3261.00,1
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,16A45FF3-6EFD-4B82-A0CF-0F97AE09F8B2,299.0,2014-01-01,1112193722,2014-01-01,Marking-鋁合金解凍盤1入方案,2014-01-13,2014-01-08,2014-01-17,590.0,299.0,1.0,0,0,0,0.0,0,NaN,536.0,536.0,居家和庭園,1,12,2,12,6,0,2014,12:24:27.823000,[D424E96C-75E9-499A-BA43-DF8D99C5C622],1,299.00,0,299.0,1.000,0,0,299.00,1,291.00,1
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,0BCC82F9-0CA0-4E70-8131-AF7641890A57,1599.0,2014-01-01,1112518272,2014-01-01,衣童趣-造型加厚鋪棉連身衣4件方案,2014-01-08,2014-01-08,2014-01-17,2760.0,1599.0,4.0,0,0,0,0.0,0,NaN,1604.0,166.0,服飾與配件,1,12,2,7,6,0,2014,12:38:26.860000,[4E444122-2FC9-4CE1-A839-FA3384A501DD],1,399.75,0,319.0,1.253,0,0,399.75,1,290.25,0

### 熱銷字

In [83]:
import numpy as np
import pandas as pd
import jieba
from jieba import analyse
import jieba.analyse

In [93]:
name_str =byCategory['item_name'].astype(str)
name_str.head(3)

0    秋冬系列外套-氣質雙排扣風衣造型外套
1    Marking-鋁合金解凍盤1入方案
2     衣童趣-造型加厚鋪棉連身衣4件方案
Name: item_name, dtype: object

In [94]:
total_str =''.join(name_str)
keywords = jieba.analyse.extract_tags(total_str, topK = 100)

def word(w):
    lst = list(jieba.cut(w,cut_all=False))
    c=0
    for i in lst:
        if i in keywords:
            c+=1
        return(c)
    
key_lst=[]
key_lst.append(name_str.apply(word))

title=list(byCategory['business_hour_guid'])

Building prefix dict from the default dictionary ...
Dumping model to file cache /var/folders/br/9fsvfjf105q_8mmchk7l37lh0000gn/T/jieba.cache
Loading model cost 1.171 seconds.
Prefix dict has been built succesfully.

In [95]:

A={
    'business_hour_guid':byCategory['business_hour_guid'],
    'hottimes':key_lst[0]
}
key_lst_df=pd.DataFrame(A)

In [89]:
hottime=pd.read_csv('hottimes_new.csv')
hottime.head(3)

   Unnamed: 0                    business_hour_guid  hottimes
0           0  02C55598-E1E7-40E1-996B-371EAE55F840         0
1           1  E412D89A-137E-465E-ABA0-8C9CAD7F06B4         0
2           2  A3A9404F-B6CE-45BC-93B0-6E242A43C5A8         0

In [90]:
hottime=hottime.drop(columns='Unnamed: 0')

In [91]:
byCategory=byCategory.drop_duplicates('business_hour_guid').drop(columns=['GUID','user_id','business_hour_order_time_e',
                                   'business_hour_deliver_time_s','business_hour_deliver_time_e','ancestor_business_hour_guid',
                                  'campagin_period','buying_hour','list','list_len' ])

In [92]:
pd.merge(byCategory,hottime).shape

(246268, 28)

In [94]:
byCategory=pd.merge(byCategory,hottime,how="left")

In [95]:
byCategory.head()

,business_hour_guid,subtotal,buying_date,business_hour_order_time_s,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,shippingdate,enable_isp,code,parent_code,chinese_parent_code,product_launch_month,product_launch_hour,product_launch_weekday,order_deliver_days,is_Presales,product_launch_year,unit_price,is_Longtern,category_unit_price,compare_cate_unit_price,price_gap,is_Discount,hottimes
0,B4D2911E-524B-4483-8DE1-9BC0240B8FA2,639.0,2014-01-01,2014-01-01,3900.0,639.0,1.0,0,0,0,0.0,0,1604.0,166.0,服飾與配件,1,12,2,1,0,2014,639.000000,0,319.0,2.003,3261.000000,1,0.0
1,D424E96C-75E9-499A-BA43-DF8D99C5C622,299.0,2014-01-01,2014-01-01,590.0,299.0,1.0,0,0,0,0.0,0,536.0,536.0,居家和庭園,1,12,2,6,0,2014,299.000000,0,299.0,1.000,291.000000,1,0.0
2,4E444122-2FC9-4CE1-A839-FA3384A501DD,1599.0,2014-01-01,2014-01-01,2760.0,1599.0,4.0,0,0,0,0.0,0,1604.0,166.0,服飾與配件,1,12,2,6,0,2014,399.750000,0,319.0,1.253,290.250000,0,0.0
3,C88F06E4-5F1E-4DE1-9A43-BBA1E374B5CC,279.0,2014-01-01,2014-01-01,518.0,279.0,1.0,0,0,0,0.0,0,536.0,536.0,居家和庭園,1,12,2,4,0,2014,279.000000,0,299.0,0.933,239.000000,1,0.0
4,AD3602F4-7605-47D2-812A-ABA0BEE34FD7,575.0,2014-01-01,2014-01-01,735.0,575.0,3.0,0,0,0,0.0,0,922.0,922.0,辦公室用品,1,12,2,5,0,2014,191.666667,0,315.0,0.608,53.333333,1,0.0

In [96]:
byCategory.to_csv('0614byCategory.csv',index=False)