In [1]:
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
byCategory=pd.read_csv('byCategory.csv')

c:\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
byCategory.head(3)

,GUID,seller_GUID,seller_name,subtotal_guid,is_returned,create_time,business_hour_guid,order_from_type,user_id,installment,...,sales_7days,ratio_7days,sales_14days,ratio_14days,sales_30days,ratio_30days,sales_60days,ratio_60days,sales_180days,ratio_180days
0,45B303F5-2997-4A1E-9CED-D510CFF5B0F0,E4D88D44-A734-4A6B-9174-A862244D2D22,三協成事業有限公司,699.0,0,2015-01-01 12:12:44.947,732103DD-F831-4210-8449-6B1917AA37F5,1,1111761039,0,...,13281.0,0.442,18174.0,0.605,30057.0,1.0,30057.0,1.0,30057.0,1.0
1,F121067A-41C7-4894-BD82-33A54E589DB7,23F66516-1395-4FE5-825F-795C9D94DFAA,得力網通有限公司,594.0,0,2015-01-01 12:36:05.753,E4849B75-FC79-4B2E-AF00-DF82E59B2872,1,1112303774,0,...,7722.0,0.765,10098.0,1.000,10098.0,1.0,10098.0,1.0,10098.0,1.0
2,7CC0DB1C-786E-427E-AD29-C6EC6C860CCF,23F66516-1395-4FE5-825F-795C9D94DFAA,得力網通有限公司,469.0,1,2015-01-01 12:42:11.777,61B117B3-9E4C-4809-9992-0F89E740E5E9,3,1111750722,0,...,101304.0,1.000,101304.0,1.000,101304.0,1.0,101304.0,1.0,101304.0,1.0

In [4]:
byCategory.columns

Index(['GUID', 'seller_GUID', 'seller_name', 'subtotal_guid', 'is_returned',
       'create_time', 'business_hour_guid', 'order_from_type', 'user_id',
       'installment', 'mobile_pay_type', 'business_hour_order_time_s',
       'business_hour_order_time_e', 'business_hour_deliver_time_s',
       'business_hour_deliver_time_e', 'pic_alt', 'zip_code', 'city_name',
       'district_name', 'item_name', 'item_orig_price', 'item_price',
       'item_default_daily_amount', 'event_name', 'event_title',
       'product_spec', 'shopping_cart', 'combo_pack_count',
       'quantity_multiplier', 'city_list', 'deal_acc_business_group_id',
       'acc_business_group_name', 'deal_type', 'is_travel_deal',
       'installment_3months', 'installment_6months', 'installment_12months',
       'deny_installment', 'shippingdate', 'is_long_contract',
       'develope_sales_id', 'operation_sales_id', 'slug', 'ordered_quantity',
       'ordered_total', 'category_list', 'freight_amount', 'enable_isp',
       'discount_price', 'is_wms', 'ancestor_business_hour_guid', 'code_name',
       'code', 'code_second', 'product_launch_month', 'product_launch_hour',
       'product_launch_weekday', 'campagin_period', 'order_deliver_days',
       'is_Presales', 'product_launch_year', 'list', 'unit_price',
       'is_Longtern', 'category_unit_price', 'compare_cate_unit_price',
       'quantity_sold_guid', 'subtotal_allguid', 'quantity_sold_allguid',
       'avg_unit_price', 'len_list', 'is_Discount', 'total_sales',
       'sales_3days', 'ratio_3days', 'Unnamed: 0', 'hottimes',
       'total_sales_amount', 'sales_7days', 'ratio_7days', 'sales_14days',
       'ratio_14days', 'sales_30days', 'ratio_30days', 'sales_60days',
       'ratio_60days', 'sales_180days', 'ratio_180days'],
      dtype='object')

In [5]:
df=byCategory[['business_hour_guid', 'subtotal_guid', 
        'zip_code', 'item_orig_price', 'item_price',
       'quantity_multiplier', 
       'installment_3months', 'installment_6months', 'installment_12months',
       'deny_installment', 'shippingdate', 'freight_amount', 'enable_isp',
       'is_wms', 'is_returned','is_Presales', 'is_Longtern', 
       'code', 'product_launch_month', 'product_launch_hour',
       'product_launch_weekday', 'campagin_period', 'order_deliver_days',
       'product_launch_year', 'unit_price',
       'category_unit_price', 'compare_cate_unit_price',
       'quantity_sold_guid', 'subtotal_allguid', 'quantity_sold_allguid',
       'avg_unit_price', 'is_Discount', 'total_sales',
       'sales_3days', 'ratio_3days', 'hottimes',
       'total_sales_amount', 'sales_7days', 'ratio_7days', 'sales_14days',
       'ratio_14days', 'sales_30days', 'ratio_30days', 'sales_60days',
       'ratio_60days', 'sales_180days', 'ratio_180days']]

In [6]:
df.shape

(224016, 47)

In [15]:
#發現 code,category_unit_price,compare_cate_unit_price 有nan值 因為分類關係
df.isna().sum()

business_hour_guid         0
subtotal_guid              0
zip_code                   0
item_orig_price            0
item_price                 0
quantity_multiplier        0
installment_3months        0
installment_6months        0
installment_12months       0
deny_installment           0
shippingdate               0
freight_amount             0
enable_isp                 0
is_wms                     0
is_returned                0
is_Presales                0
is_Longtern                0
code                       0
product_launch_month       0
product_launch_hour        0
product_launch_weekday     0
campagin_period            0
order_deliver_days         0
product_launch_year        0
unit_price                 0
category_unit_price        0
compare_cate_unit_price    0
quantity_sold_guid         0
subtotal_allguid           0
quantity_sold_allguid      0
avg_unit_price             0
is_Discount                0
total_sales                0
sales_3days                0
ratio_3days                0
hottimes                   0
total_sales_amount         0
sales_7days                0
ratio_7days                0
sales_14days               0
ratio_14days               0
sales_30days               0
ratio_30days               0
sales_60days               0
ratio_60days               0
sales_180days              0
ratio_180days              0
25%_days                   0
50%_days                   0
75%_days                   0
dtype: int64

In [8]:
#把沒有分類的 歸為同一類
df['code']=df['code'].fillna(0)

c:\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
df['category_unit_price']=df['category_unit_price'].fillna(df['unit_price'])

c:\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
df['compare_cate_unit_price']=df['compare_cate_unit_price'].fillna(1)

c:\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
sales_days=pd.read_csv('sales_days.csv')
sales_days.head(3)

                     business_hour_guid  25%_days  50%_days  75%_days
0  00000793-A001-4C8C-9196-3E6971181246         2         2         2
1  00001911-C3DF-4143-BC25-8AA5FA1A9AF4         3         3         3
2  00001928-AE75-4AA9-8A47-4BDE96D08C2D         8         8        28

In [14]:
df=pd.merge(df,sales_days)

In [16]:
df.to_csv('df.csv',index=False)

### 新增欄位price_gap : item_orig_price - item_price   售價與定價之價格差

In [22]:
df['price_gap']=df['item_orig_price']-df['item_price']

In [23]:
df.head(3)

,business_hour_guid,subtotal_guid,zip_code,item_orig_price,item_price,quantity_multiplier,installment_3months,installment_6months,installment_12months,deny_installment,...,sales_30days,ratio_30days,sales_60days,ratio_60days,sales_180days,ratio_180days,25%_days,50%_days,75%_days,price_gap
0,3FC106A0-CC74-4FFC-8D86-122109476965,1890.0,811,2400.0,1890.0,30.0,0,0,0,0,...,0.0,0.0,1890.0,1.0,1890.0,1.0,41,41,41,510.0
1,ED6058D7-DD0B-4322-B785-02F432707D59,989.0,104,2396.0,989.0,8.0,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,215,215,215,1407.0
2,C76DF4A7-2ED5-444E-A19B-7371EDF726CA,1656.0,600,4800.0,1656.0,24.0,1,1,1,0,...,0.0,0.0,1656.0,0.5,3312.0,1.0,55,55,77,3144.0

## 將檔案順序打散

In [25]:
df=df.sample(frac=1, replace=False, random_state=1)

In [26]:
df=df.reset_index(drop=True)

將資料分為輸入變數與目標變數

In [24]:
df.columns

Index(['business_hour_guid', 'subtotal_guid', 'zip_code', 'item_orig_price',
       'item_price', 'quantity_multiplier', 'installment_3months',
       'installment_6months', 'installment_12months', 'deny_installment',
       'shippingdate', 'freight_amount', 'enable_isp', 'is_wms', 'is_returned',
       'is_Presales', 'is_Longtern', 'code', 'product_launch_month',
       'product_launch_hour', 'product_launch_weekday', 'campagin_period',
       'order_deliver_days', 'product_launch_year', 'unit_price',
       'category_unit_price', 'compare_cate_unit_price', 'quantity_sold_guid',
       'subtotal_allguid', 'quantity_sold_allguid', 'avg_unit_price',
       'is_Discount', 'total_sales', 'sales_3days', 'ratio_3days', 'hottimes',
       'total_sales_amount', 'sales_7days', 'ratio_7days', 'sales_14days',
       'ratio_14days', 'sales_30days', 'ratio_30days', 'sales_60days',
       'ratio_60days', 'sales_180days', 'ratio_180days', '25%_days',
       '50%_days', '75%_days', 'price_gap'],
      dtype='object')

In [27]:
df_input=df[['code', 'zip_code','product_launch_month',
       'product_launch_hour', 'product_launch_weekday',  
       'installment_3months','installment_6months', 'installment_12months', 
        'deny_installment','shippingdate', 'freight_amount','enable_isp', 'is_returned',
        'is_Discount','is_Presales', 'is_Longtern', 'item_orig_price',
       'item_price', 'quantity_multiplier', 'campagin_period',
       'order_deliver_days', 'unit_price','avg_unit_price',
       'category_unit_price', 'compare_cate_unit_price', 'subtotal_guid', 'quantity_sold_guid',
       'subtotal_allguid', 'quantity_sold_allguid', 'sales_3days','25%_days',
       '50%_days', '75%_days','price_gap']]
sales_output=df[['sales_7days','sales_14days','sales_30days', 'sales_60days','sales_180days']]

In [30]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df_input, sales_output, test_size=0.1, random_state=4)

## 直接訓練模型

### 使用 LinearRegression

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error

In [32]:

# 建立一個線性回歸模型
model = LinearRegression()

# 將訓練資料丟進去模型訓練
model.fit(x_train, y_train)

# 將測試資料丟進模型得到預測結果
y_pred = model.predict(x_test)
print("mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

print("mean_absolute_error: %.2f"
      % mean_absolute_error(y_test, y_pred))
print("r2_score: %.2f"
      % r2_score(y_test, y_pred))

mean squared error: 1397900167.74
mean_absolute_error: 7041.79
r2_score: -0.16

### Random Forest

In [34]:
from sklearn.ensemble import RandomForestRegressor

# 建立一個線性回歸模型
model = RandomForestRegressor(max_depth=2, random_state=0,n_estimators=100)

# 將訓練資料丟進去模型訓練
model.fit(x_train, y_train)

# 將測試資料丟進模型得到預測結果
y_pred = model.predict(x_test)
print("mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

print("mean_absolute_error: %.2f"
      % mean_absolute_error(y_test, y_pred))
print("r2_score: %.2f"
      % r2_score(y_test, y_pred))

mean squared error: 925714765.53
mean_absolute_error: 6323.13
r2_score: 0.28

### XGBoost

In [35]:
import xgboost as xgb
from sklearn.multioutput import MultiOutputRegressor
model = MultiOutputRegressor(xgb.XGBRegressor(objective='reg:squarederror')).fit(x_train, y_train)
y_pred = model.predict(x_test)
print("mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

print("mean_absolute_error: %.2f"
      % mean_absolute_error(y_test, y_pred))
print("r2_score: %.2f"
      % r2_score(y_test, y_pred))

mean squared error: 465887664.02
mean_absolute_error: 3542.80
r2_score: 0.66

In [31]:
y_test

        sales_7days
192484          0.0
117274        339.0
219461        799.0
124011       1680.0
87214        3190.0
83016        8400.0
112068        594.0
129297          0.0
49638       26865.0
58922         390.0
48516         799.0
62325        1198.0
77837         549.0
189731          0.0
78835        1960.0
219116        560.0
196950          0.0
113109          0.0
194087          0.0
48679        1356.0
51689           0.0
115625       3552.0
176063        850.0
33004        3228.0
35003         996.0
195457       2520.0
76058        2498.0
162629          0.0
212013          0.0
70569           0.0
...             ...
204458          0.0
16678        6426.0
116949          0.0
157891          0.0
11583        1399.0
131392          0.0
45843           0.0
115930       1738.0
9945            0.0
121317          0.0
206613        612.0
59606           0.0
144840       2259.0
160508          0.0
81998         885.0
86381        2690.0
215512          0.0
45348        2997.0
176113          0.0
70343         550.0
48927        3000.0
29682        1250.0
96003        1680.0
168134          0.0
122478       1190.0
222810          0.0
122078        399.0
31263        3516.0
137982     160678.0
173788          0.0

[22402 rows x 1 columns]

In [36]:
y_pred

array([[-2.9646585e+01, -2.3613249e+02,  4.7983865e+02,  5.4742804e+02,
         2.3492197e+03],
       [ 2.7573183e+01,  3.0217398e+02,  8.8015466e+02,  1.6140759e+03,
         6.5402549e+03],
       [ 7.1569609e+03,  9.9023838e+03,  1.1991555e+04,  1.2498152e+04,
         1.8000123e+04],
       ...,
       [ 6.7095708e+03,  1.1847677e+04,  2.4224145e+04,  2.8232713e+04,
         2.7536953e+04],
       [ 1.5068679e+03,  1.7984766e+03,  1.4839570e+03, -8.1747278e+02,
         6.5592316e+02],
       [ 3.4273074e+03,  4.3081948e+03,  4.2150278e+03,  6.2901318e+03,
         5.8483691e+03]], dtype=float32)

## 特徵欄位進行標準化

In [43]:
df_adjest=df[['code','zip_code', 'product_launch_month',
'product_launch_hour', 'product_launch_weekday',  'enable_isp', 'is_returned','is_Presales', 'is_Longtern',  'installment_3months', 'installment_6months', 'installment_12months',
'deny_installment','is_Discount','subtotal_guid', 'item_orig_price','item_price', 'quantity_multiplier','shippingdate', 
'freight_amount', 'campagin_period','product_launch_year', 'unit_price',
'category_unit_price', 'compare_cate_unit_price', 'quantity_sold_guid',
'subtotal_allguid', 'quantity_sold_allguid', 'avg_unit_price',
'sales_3days','hottimes','25%_days','50%_days', '75%_days', 'price_gap',
    'sales_7days','sales_14days','sales_30days','sales_60days', 'sales_180days']]

In [44]:
df_adjest.columns

Index(['code', 'zip_code', 'product_launch_month', 'product_launch_hour',
       'product_launch_weekday', 'enable_isp', 'is_returned', 'is_Presales',
       'is_Longtern', 'installment_3months', 'installment_6months',
       'installment_12months', 'deny_installment', 'is_Discount',
       'subtotal_guid', 'item_orig_price', 'item_price', 'quantity_multiplier',
       'shippingdate', 'freight_amount', 'campagin_period',
       'product_launch_year', 'unit_price', 'category_unit_price',
       'compare_cate_unit_price', 'quantity_sold_guid', 'subtotal_allguid',
       'quantity_sold_allguid', 'avg_unit_price', 'sales_3days', 'hottimes',
       '25%_days', '50%_days', '75%_days', 'price_gap', 'sales_7days',
       'sales_14days', 'sales_30days', 'sales_60days', 'sales_180days'],
      dtype='object')

In [ ]:
## 類別型特徵:
###       ['code', 'zip_code', 'product_launch_month', 'product_launch_hour','product_launch_weekday', 'enable_isp', 'is_returned', 'is_Presales','is_Longtern', 'installment_3months', 'installment_6months','installment_12months', 'deny_installment', 'is_Discount']   
## 數值型特徵:
### [ 'subtotal_guid', 'item_orig_price', 'item_price', 'quantity_multiplier','shippingdate', 'freight_amount', 'campagin_period','product_launch_year', 'unit_price', 'category_unit_price','compare_cate_unit_price', 'quantity_sold_guid', 'subtotal_allguid',
###       'quantity_sold_allguid', 'avg_unit_price', 'sales_3days', 'hottimes','25%_days', '50%_days', '75%_days', 'price_gap', 'sales_7days','sales_14days', 'sales_30days', 'sales_60days', 'sales_180days']

In [55]:
df_adjest.head()

,code,zip_code,product_launch_month,product_launch_hour,product_launch_weekday,enable_isp,is_returned,is_Presales,is_Longtern,installment_3months,...,hottimes,25%_days,50%_days,75%_days,price_gap,sales_7days,sales_14days,sales_30days,sales_60days,sales_180days
0,1011.0,414,3,7,1,0,0,0,0,1,...,1,17,17,17,1531.0,0.0,0.0,449.0,449.0,449.0
1,536.0,231,4,7,4,0,0,0,0,1,...,0,1,2,5,259.0,516.0,645.0,645.0,645.0,645.0
2,4171.0,242,10,7,3,0,0,0,0,1,...,0,0,0,2,1320.0,2560.0,2560.0,2560.0,2560.0,2560.0
3,630.0,238,6,0,2,0,0,0,1,1,...,0,3,19,44,221.0,979.0,979.0,1958.0,2937.0,2937.0
4,1604.0,106,10,7,2,0,0,0,1,1,...,0,0,0,8,660.0,938.0,1876.0,1876.0,1876.0,1876.0

## 因為code,zipcode的類別數較大,故使用計數編碼

In [106]:
zip_code=df_adjest.zip_code.value_counts().to_frame()
zip_code=zip_code.rename(columns={'zip_code':'zip_code_counts'})
zip_code.index.name='zip_code'
zip_code=zip_code.reset_index(drop=False)
zip_code.head(3)

   zip_code  zip_code_counts
0       235            13635
1       231            12602
2       106             9218

In [101]:
code=df_adjest.code.value_counts().to_frame()
code=code.rename(columns={'code':'code_counts'})
code.index.name='code'
#code.columns=[['code','code_counts']]
code=code.reset_index(drop=False)
code.head(3)

     code  code_counts
0   536.0        28491
1   423.0        23099
2  1604.0        18231

In [108]:
df_adjest=pd.merge(df_adjest,code)
df_adjest=pd.merge(df_adjest,zip_code)
df_adjest.head(3)

,code,zip_code,product_launch_month,product_launch_hour,product_launch_weekday,enable_isp,is_returned,is_Presales,is_Longtern,installment_3months,...,50%_days,75%_days,price_gap,sales_7days,sales_14days,sales_30days,sales_60days,sales_180days,code_counts,zip_code_counts
0,1011.0,414,3,7,1,0,0,0,0,1,...,17,17,1531.0,0.0,0.0,449.0,449.0,449.0,3828,2805
1,1011.0,414,1,0,4,0,0,0,1,1,...,182,216,231.0,0.0,0.0,0.0,0.0,0.0,3828,2805
2,1011.0,414,2,0,3,0,0,0,1,1,...,119,445,1682.0,0.0,0.0,0.0,0.0,698.0,3828,2805

In [109]:
df_adjest=df_adjest.drop(columns=['code','zip_code'])
df_adjest.head()

,product_launch_month,product_launch_hour,product_launch_weekday,enable_isp,is_returned,is_Presales,is_Longtern,installment_3months,installment_6months,installment_12months,...,50%_days,75%_days,price_gap,sales_7days,sales_14days,sales_30days,sales_60days,sales_180days,code_counts,zip_code_counts
0,3,7,1,0,0,0,0,1,1,1,...,17,17,1531.0,0.0,0.0,449.0,449.0,449.0,3828,2805
1,1,0,4,0,0,0,1,1,0,0,...,182,216,231.0,0.0,0.0,0.0,0.0,0.0,3828,2805
2,2,0,3,0,0,0,1,1,1,1,...,119,445,1682.0,0.0,0.0,0.0,0.0,698.0,3828,2805
3,4,7,4,0,0,0,0,0,0,0,...,8,9,300.0,299.0,1196.0,1196.0,1196.0,1196.0,3828,2805
4,9,10,0,0,0,0,1,0,0,0,...,62,135,239.0,0.0,0.0,0.0,0.0,318.0,3828,2805

In [112]:
#pd.get_dummies(df)
df_adjest[:3]

,product_launch_month,product_launch_hour,product_launch_weekday,enable_isp,is_returned,is_Presales,is_Longtern,installment_3months,installment_6months,installment_12months,...,50%_days,75%_days,price_gap,sales_7days,sales_14days,sales_30days,sales_60days,sales_180days,code_counts,zip_code_counts
0,3,7,1,0,0,0,0,1,1,1,...,17,17,1531.0,0.0,0.0,449.0,449.0,449.0,3828,2805
1,1,0,4,0,0,0,1,1,0,0,...,182,216,231.0,0.0,0.0,0.0,0.0,0.0,3828,2805
2,2,0,3,0,0,0,1,1,1,1,...,119,445,1682.0,0.0,0.0,0.0,0.0,698.0,3828,2805